{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h1>History</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Datetime</th>
                <th>Order</th>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for row in shares %}
                <tr>
                    <td>{{ row['dt'] }}</td>
                    <td>{{ row['order'] }}</td>
                    <td>{{ row['symbol'] }}</td>
                    <td>{{ row['shares'] }}</td>
                    <td>{{ row['price'] | usd }}</td>
                    <td>{{ row['cost'] | usd }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>TOTAL</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>{{ total_shares }}</td>
                <td>&nbsp;</td>
                <td>{{ total_value | usd }}</td>
            </tr>
        </tfoot>
    </table>
    <div class="mb-3"> Cash: {{ user_cash | usd }}</div>
{% endblock %}
